.beerpost {
  background-color: white;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 50px 0 0 0;
  margin-bottom: 1em;

  &__preview {
    display: flex;

    .left-menu {
      max-width: 10em;
      padding: 1em;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .preview-info {
    flex-grow: 1;
    border-left: 2px solid;
    padding: 0 1em;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
    }
    .logo {
      margin: auto 0;
      svg {
        color: brown;
        width: 3em;
        height: 3em;
      }
    }
    .title {
      padding: 0.3em;
    }

    .stats {
      ul {
        display: flex;
        flex-wrap: wrap;
        //list-style-type: none;
      }
      li {
        flex-basis: 50%;
      }
    }
  }

  &__photos {
    width: 30%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .arrow_down {
    text-align: center;
  }
}
