.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        color: red;
        height: 2.5em;
        width: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        svg {
            height: 2em;
            width: 2em;
        }
        &:hover {
            background-color: rgba(255, 0, 0, 0.2);
        }
    }
}
