.likes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0;
    svg {
        height: 1.3em;
        width: 1.3em;
    }
    p.count {
        font-weight: bold;
        padding-left: 0;
        position: relative;
        bottom: 0.55em;
    }
}
