.newUserPage {
    margin: 6em auto;
    text-align: center;
    color: grey;

    h1 {
        margin: 2em;
    }
    h4 {
        margin: 1em;
    }
    h2 {
        margin: 1em;
    }

    p {
        line-height: 2em;
    }

    span {
        font-weight: bold;
        color: #fec63d;
    }
}
