.photo-input {
    color: transparent;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.upload-btn {
    font-size: 35px;
    font-weight: bold;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    text-align: center;
}
