header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#fec63d, #fdd46d);
    padding: 0 1em;
    color: black;
    text-transform: uppercase;
    font-weight: 700;

    .logo {
        display: flex;
        align-items: center;
        h3 {
            padding-left: 0.4em;
            font-family: "Amatic SC", cursive;
            font-weight: 700;
            font-size: 1.8em;
        }
        img {
            height: 2.3em;
        }
    }

    nav {
        //width: 100%;
        align-self: stretch;
        height: 3em;

        ul {
            height: 100%;
            display: flex;
            list-style-type: none;
            align-items: center;
        }
        li {
            height: 100%;
            padding: 0 1em;
            // display: flex;
            // align-items: center;
            line-height: 3em;
            &:hover {
                border-bottom: 4px solid brown;
                a {
                    color: black;
                }
            }
            &.active {
                border-bottom: 4px solid brown;
            }
        }
    }
    a {
        text-decoration: none;
        color: rgb(75, 75, 75);
    }
}
