.homepage {
    position: relative;
    height: 100vh;
    background-image: url("../../../../public/homepage/h2.jpg");
    background-size: cover;
    background-position: 50% 41%;

    &__header {
        background-color: rgba($color: #616161, $alpha: 0.3);
        width: 100vw;
        height: 100vh;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__top {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
                fill: #f0b90b;
            }

            h1 {
                color: black;
                font-weight: 700;
                font-size: 5em;
                font-family: "Amatic SC", cursive;
            }

            h3 {
                background: linear-gradient(
                    to right,
                    #f0b90b 0%,
                    #fdba00 50%,
                    #f0b90b 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: "Roboto Mono", monospace;
                font-size: 1.5em;

                @media (max-width: 580px) {
                    font-size: 1em;
                }
                @media (max-width: 380px) {
                    font-size: 0.8em;
                }
            }
        }

        .interface {
            display: flex;
            width: 70%;
            margin: 0 auto;
            justify-content: center;
            align-self: flex-end;

            @media (max-width: 1200px) {
                width: 80%;
            }
            @media (max-width: 700px) {
                width: 90%;
            }

            @media (max-width: 550px) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 2em;
            }

            .btn {
                width: 300px;
                font-weight: bold;
                font-size: 1.1em;
                color: white;
                background-color: rgb(80, 80, 80);
                padding: 1em;
                margin: 2.5em;
                border: 0;
                border-radius: 5px;

                @media (max-width: 1200px) {
                    font-size: 1em;
                }

                @media (max-width: 700px) {
                    font-size: 0.9em;
                }

                @media (max-width: 550px) {
                    width: 250px;
                    margin: 0.7em;
                }

                &-login {
                    background-color: #f0b90b;
                    color: black;
                }
            }
        }
    }

    .user-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 25vh;
        left: 40vw;
        width: 350px;
        z-index: 2;
        padding: 2em;
        border-radius: 5px;
        background-color: #eeeeee;
        opacity: 0.9;

        @media (max-width: 1500px) {
            left: 38vw;
        }

        @media (max-width: 1300px) {
            left: 37vw;
        }

        @media (max-width: 1000px) {
            left: 36vw;
        }
        @media (max-width: 900px) {
            left: 34vw;
        }
        @media (max-width: 800px) {
            left: 31vw;
        }
        @media (max-width: 700px) {
            left: 25vw;
        }
        @media (max-width: 600px) {
            left: 17vw;
        }
        @media (max-width: 500px) {
            left: 17vw;
            width: 300px;
            top: 23vh;
        }
        @media (max-width: 400px) {
            left: 16.5vw;
            width: 250px;
            top: 23vh;
        }

        form {
            display: flex;
            flex-direction: column;

            button {
                width: 70%;
                background-color: #f0b90b;
                color: black;
                font-size: 1em;
                font-weight: bold;
                padding: 0.5em;
                border-radius: 5px;
                border: none;
                margin: auto;
                margin-top: 1em;
            }
        }
    }
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: whitesmoke, $alpha: 0.4);
    filter: blur(15px);
    backdrop-filter: blur(2px);
}

input {
    padding: 0.3em;
    margin: 0.7em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: space-around;
}
