.dashboard {
    display: flex;
    align-items: flex-start;
    padding: 1em;
    padding-top: 1em;
    justify-content: space-between;
    margin: 1em;
    position: relative;
}

.plus-btn {
    color: rgba($color: #d3671f, $alpha: 1);
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 1em;
    right: 10em;
}

.filter {
    //position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background-color: rgba($color: whitesmoke, $alpha: 0.4);
    filter: blur(15px);
    backdrop-filter: blur(2px);
}
