header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#fec63d, #e4b234);
    padding: 0 1em;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    nav {
        //width: 100%;
        align-self: stretch;
        height: 3em;

        ul {
            height: 100%;
            display: flex;
            list-style-type: none;
            align-items: center;
        }
        li {
            height: 100%;
            padding: 0 1em;
            // display: flex;
            // align-items: center;
            line-height: 3em;
            &:hover {
                border-bottom: 4px solid brown;
                a {
                    color: black;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: rgb(75, 75, 75);
    }
}
