.prof-card {
    width: 550px;
    margin: auto;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 550px) {
        width: 400px;
    }

    @media (max-width: 400px) {
        width: 300px;
    }

    &__picture {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 1.5em;
        box-shadow: 0px 8px 10px lightgray;
    }

    h2 {
        margin: 1em 0 0.7em 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        width: 80%;
        align-self: center;

        @media (max-width: 400px) {
            flex-wrap: nowrap;
            height: 300px;
        }

        &__row {
            margin: 1em;

            h3 {
                margin: 0.5em 0em;
                text-align: center;
            }

            p {
                line-height: 1.6em;
                text-align: center;
            }
        }
    }

    .edit-icon {
        align-self: flex-end;
        margin: 0.6em;
        color: #fec63d;
        height: 50px;
        width: 50px;
    }
}

.profile-form {
    width: 550px;
    margin: auto;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 550px) {
        width: 400px;
    }

    @media (max-width: 400px) {
        width: 300px;
    }

    &__name {
        align-self: center;
        margin-bottom: 1em;

        h3 {
            text-align: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        width: 100%;
        align-content: center;
        justify-content: space-between;

        @media (max-width: 550px) {
            flex-wrap: nowrap;
            height: 400px;
        }

        h3 {
            text-align: center;
        }
    }

    .save-btn {
        align-self: center;
        margin-top: 1em;
    }
}
