.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #ebebeb;
  border: 1px solid black;
  border-radius: 10px;

  &__photo {
    padding: 1em;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
