.beerpost-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    width: 750px;
    padding: 2em;
    box-shadow: 5px 5px 30px grey;
    border-radius: 30px;
    margin: 2em auto;
    background-color: white;
}

.delete-icon,
.edit-icon,
.cancel-icon {
    width: 40px;
    height: 40px;
    margin: 0.2em;
}

.delete-icon {
    color: rgba($color: #b90202, $alpha: 1);
}

.edit-icon {
    color: rgba($color: #da8d00, $alpha: 1);
}

.form-heading {
    display: flex;
    margin-bottom: 2em;
}

.beerpost-form h1 {
    margin: 0 4em;
}

.general-section {
    display: flex;
    height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.input-item {
    display: flex;
    width: 320px;
    //border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
}

.input-item input {
    margin: 0;
}

.loader-container {
    border: 1px dashed lightgray;
    width: 350px;
    min-height: 130px;
    padding: 2.2em 2em;
    color: grey;

    p {
        text-align: center;
    }
}

.description-label {
    align-self: flex-start;
}
