.beerpost-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    //margin-top: 2em;
    width: 750px;
    padding: 2em;
    box-shadow: 5px 5px 30px grey;
    border-radius: 30px;
    margin: auto;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-icon,
.edit-icon,
.cancel-icon {
    width: 40px;
    height: 40px;
    margin: 0.2em;
}

.delete-icon {
    color: rgba($color: #b90202, $alpha: 1);
    position: absolute;
    top: 0;
    left: 0;
}

.edit-icon {
    color: rgba($color: #da8d00, $alpha: 1);
}

.form-heading {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    position: relative;
}

.beerpost-form h1 {
    //margin: 0 5em 0 7em;
    width: 100%;
    text-align: center;
    padding-left: 2em;
    align-self: center;
}

.input-item input {
    margin: 0;
}

.loader-container {
    border: 1px dashed lightgray;
    width: 600px;
    min-height: 130px;
    padding: 2.2em 2em;
    color: grey;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 0.5em;

    p {
        text-align: center;
    }
}

.description-label {
    align-self: flex-start;
}
