.info-window {
    width: 160px;
    height: 100px;
    border-radius: 10px;
    background: white;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0;
    // margin: -20px 0 0 -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3 {
        font-size: 2em;
    }
}
